<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Step2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-item lines="none" *ngFor="let option of checkboxOptions; let i=index;">
      <ion-checkbox mode="ios"
        [value]="option.value" (ionChange)="onCheckboxChange()"
        [(ngModel)]="option.isChecked" [ngModelOptions]="{standalone: true}">{{option.name}}</ion-checkbox>
    </ion-item>
  </ion-row>
  <ion-button (click)="continue()">Continue</ion-button>
  <ion-button (click)="back()">Back</ion-button>
</ion-content>
